.box {
  width: 900px;
  height: 600px;
  border: 10px solid black;
  margin: auto;
}
.row {
  display: flex;
}
img {
  width: 300px;
  height: 200px;
  opacity: 0.3;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
img:hover {
  opacity: 1;
}
